.checkout-product {
    margin-bottom: 16px;

    &-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 8px;
        background: #fafafa;
        border-radius: 6px;
    }

    &-details {
        padding: 8px;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 6px;
        margin-top: 6px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    .product-image {
        width: 30%;
        height: auto;
        border-radius: 4px;
    }
}