.checkout-product {
    margin-bottom: 16px;

    &-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 8px;
        background: #fafafa;
        border-radius: 6px;
    }

    &-details {
        padding: 8px;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 6px;
        margin-top: 6px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    .product-image {
        width: 30%;
        height: auto;
        border-radius: 4px;
    }


}

// .checkout-mobile {
//     margin: 0;
//     padding: 0;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .checkout-mobile {
//     padding-bottom: 0; // tránh padding không cần thiết
// }

// .checkout-section:last-child {
//     margin-bottom: 0; // nếu đang có margin dưới
// }

// .checkout-footer {
//     margin-top: 12px; // thay vì cố đẩy xuống bằng flex
//     padding: 12px;
//     background: #f8f8f8;

//     .footer-content {
//         text-align: center;
//         font-size: 13px;
//         line-height: 1.5;
//     }
// }