.shipping-policy-container {
    max-width: 900px;
    /* Giới hạn chiều rộng */
    margin: 40px auto;
    /* Căn giữa */
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    .title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        color: #333;
        margin-bottom: 40px;

        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 4px;
            background-color: #007bff;
            margin: 10px auto 0;
            border-radius: 2px;
        }
    }

    .policy-details {
        h3 {
            font-size: 20px;
            font-weight: 600;
            color: #1f2937;
            margin-top: 24px;
            margin-bottom: 12px;
        }

        ul {
            list-style: disc inside;
            margin-bottom: 1.5rem;
            padding-left: 10px;

            ul {
                list-style: circle inside;
                margin-left: 20px;
            }

            li {
                font-size: 16px;
                color: #374151;
                margin-bottom: 0.5rem;
            }
        }

        a {
            color: #007bff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        strong {
            font-weight: 600;
        }
    }
}