.banner {
    position: relative;
    width: 100%;
    height: 400px; // Tăng chiều cao cho đẹp như Laptopnew
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; //   Sửa lại thành cover
        object-position: center;
    }

    @media (max-width: 992px) {
        height: 280px;
    }

    @media (max-width: 576px) {
        height: 200px;
    }
}